@charset "utf-8";
@import "normalize";
@import "bootstrap";
$base-color: #D4C6B4;
$dark: #937D60;
$light-dark: #B2A087;
$dark-light: #FBF3E8;
$light: #FFFDF9;
$highlighted: #6dbdcb;
$light-blue: #d4d4d8;

@icon-font-path: 'fonts/';

html,
body {
  background-image: url('/images/background.png');
  height: 100%;
  font-size: 18px;
}

em {
  font-weight: bold;
  font-style: normal;
}

.main-container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.image-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.image-frame {
  margin: 5px;
  transition: box-shadow 0.2s ease-in-out;
  align-content: center;
  &:hover {
    box-shadow: 5px 5px 2px rgba(0,0,0,0.5)
  }
  img {
    object-fit: none;
    object-position: center;
    height: 135px;
    width: 135px;
    transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
    &:hover {
      border: 1px solid $highlighted;
    }
  }
}

.modal-content {
  margin-top: 150px;
  background-color: $dark;
}


.ced-container {
  padding-top: 30px;
  display: flex;
  align-items: stretch;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.nav-container {
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation {
  background-color: $dark;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li.active {
      background-color: $light;
      margin-left: -15px;
      padding-left: 15px;
      a {
        color: $highlighted;
      }
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
  a {
    color: $light;
    width: 100%;
    display: block;
    padding: .2em .8em;
    text-decoration: none;
  }
  a:hover {
    background-color: rgba(255, 253, 249, 0.1);
  }
}

ul {
  .main-nav {
    background-color: $dark-light;
  }
}

.content {
  background-color: $light; //width: 100%;
  //flex: 1;
  margin-top: 30px;
  margin-left: 0;
  iframe {
    width: 100%;
    height: 485px;
  }
  h3,
  h4 {
    margin-top: 25px;
  }
}

.title-image {
  margin-bottom: 40px;
  margin-top: 50px;
  border-radius: 15px;
  width: 700px;
  height: 140px;
}

.row-logo {
  margin-top: 20px;
}

.first-line {
  margin-top: 20px;
}

.my-panel-title {
  background-color: $dark !important;
  color: $light !important;
  a {
    text-decoration: none;
    font-size: 20px;
  }
  h4 {
    margin-top: 0px;
  }
}

.main-sponsor {
  margin-bottom: 100px;
}

.sponsor {
  margin-bottom: 50px;
  img {
    width: 100%;
    max-width: 200px;
  }
}

.impressions {
  img {
    //margin-bottom: 20px;
    clip: rect(100, 100, 100, 100)
  }
}

.caption {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 20px;
}

.logo_littlefeet {
  margin-top: 15px;
}

.vendor-row {
  margin-bottom: 50px;
  @extend .row
}

.vendor-logo {
  @extend .col-md-5
}

.vendor-description {
  @extend .col-md-7
}


/* make sidebar nav vertical */

@media (min-width: 768px) {
  .sidebar-nav {
    margin-top: 30px;
  }
  .navbar-default {
    background-color: $dark;
    border: none;
    margin-right: -20px;
  }
  .sidebar-nav .navbar .navbar-collapse {
    background-color: $dark;
    font-size: 24px;
    padding: 15px 0px 15px 0px;
    max-height: none;
    a {
      color: $light;
      width: 100%;
      display: block;
      padding: .2em .8em;
      text-decoration: none;
    }
    a:hover {
      background-color: rgba(255, 253, 249, 0.1);
      color: $light;
    }
    ul {
      float: none;
      display: block;
    }
    li.active {
      background-color: $light;
      margin-left: -15px;
      padding-left: 15px;
      a {
        color: $highlighted;
        background-color: $light;
      }
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    li {
      float: none;
      display: block;
      a {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .main-banner {
    display: none;
  }
  .navbar {
    background-color: transparent;
    border: none;
  }
  .navbar-toggle {
    background-color: $light;
    margin-top: -110px;
  }
  .navbar-collapse {
    background-color: $light; //margin-top: -35px;
  }
  .content {
    margin-top: -10px;
    margin-left: 5px;
    margin-right: 5px;
  }


  .modal-content {
    margin-top: 20px;
  }
}