<!doctype html>
<html>
 <head>
   <meta content="IE=edge" http-equiv="X-UA-Compatible">
   <meta charset="utf-8">
   <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
   <!-- Use title if it's in the page YAML frontmatter -->
   <title><%= current_page.data.title || "Schweiz Näht" %></title>
   <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <%= stylesheet_link_tag :site %>
   <%= javascript_include_tag :all %>
 </head>
 <body class="<%= page_classes %>">
   <div class="container">
     <%= image_tag '/images/header.png', class: 'img-responsive center-block' %>
     <%= partial 'navigation' %>
     <!-- <div class="jumbotron"> -->
       <%= yield %>
     <!-- </div> -->
   </div>
 </body>
</html>
