!!! 5
%html
  %head
    %meta{'content' => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{'charset' => 'utf-8'}
    %meta{'content' => 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no', 'name' => 'viewport'}
    %link{rel: "apple-touch-icon", sizes: "57x57", href: "/images/apple-icon-57x57.png"}
    %link{rel: "apple-touch-icon", sizes: "60x60", href: "/images/apple-icon-60x60.png"}
    %link{rel: "apple-touch-icon", sizes: "72x72", href: "/images/apple-icon-72x72.png"}
    %link{rel: "apple-touch-icon", sizes: "76x76", href: "/images/apple-icon-76x76.png"}
    %link{rel: "apple-touch-icon", sizes: "114x114", href: "/images/apple-icon-114x114.png"}
    %link{rel: "apple-touch-icon", sizes: "120x120", href: "/images/apple-icon-120x120.png"}
    %link{rel: "apple-touch-icon", sizes: "144x144", href: "/images/apple-icon-144x144.png"}
    %link{rel: "apple-touch-icon", sizes: "152x152", href: "/images/apple-icon-152x152.png"}
    %link{rel: "apple-touch-icon", sizes: "180x180", href: "/images/apple-icon-180x180.png"}
    %link{rel: "icon", type: "image/png", sizes: "192x192" , href: "/images/android-icon-192x192.png"}
    %link{rel: "icon", type: "image/png", sizes: "32x32", href: "/images/favicon-32x32.png"}
    %link{rel: "icon", type: "image/png", sizes: "96x96", href: "/images/favicon-96x96.png"}
    %link{rel: "icon", type: "image/png", sizes: "16x16", href: "/images/favicon-16x16.png"}
    %link{rel: "manifest", href: "/manifest.json"}
    %meta{name: "msapplication-TileColor", content: "#ffffff"}
    %meta{name: "msapplication-TileImage", content: "/ms-icon-144x144.png"}
    %meta{name: "theme-color", content: "#ffffff"}
    %title
      = current_page.data.title || 'NÄHkomPLOTT'
    %link{'rel' => 'stylesheet', 'href' => '//fonts.googleapis.com/css?family=Lato:300,400', 'type' => 'text/css'}
    = stylesheet_link_tag :site
    = javascript_include_tag :jquery
    = javascript_include_tag :bootstrap
    = javascript_include_tag 'jquery.matchHeight-min.js'
    = javascript_include_tag :all
  %body{class: "#{page_classes}"}
    .container.main-container
      .row
        .col-sm-12
          %a{href: '/index.html'}
            %img.img-responsive.center-block.main-banner{src: '/images/naehkomplott_transp.png'}
        .row
          .col-sm-3
            .sidebar-nav
              = partial 'bootstrap_navbar'
          .col-sm-9.content
            .row
              .col-sm-10.col-sm-offset-1.js-adjust-height
                = yield
