.navbar.navbar-default.js-adjust-height{role: 'navigation'}
  .navbar-header.mobile-menu-bar
    = image_tag '/images/naehkomplott_transp.png', class: 'img img-responsive small-banner center-block visible-xs'
    %button.navbar-toggle{'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '.sidebar-navbar-collapse'}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %span.visible-xs.navbar-brand
  .navbar-collapse.collapse.sidebar-navbar-collapse.js-adjust-height
    %ul.nav.navbar-nav
      - data.navigation.nodes.each do |name, url|
        %li{class: current_page.data.section == name ? 'active' : ''}
          - if url =~ %r{https://}
            %a{href: url, target: 'blank'}
              = name
          - else
            %a{href: url}
              = name
