---
title: Bilder
section: Bilder
---
.title
  = image_tag 'http://unsplash.it/700/140', class: 'img-responsive title-image'
.content.first-line.impressions
  #imageModal.modal.fade{tabindex: '-1', role: 'dialog', aria_labelledby: 'imageModalLabel'}
    .modal-dialog{role: 'document'}
      .modal-content
        .modal-body
          #imageCarousel.carousel.slide{ data: {ride: 'carousel', interval: 'false'} }
            .carousel-inner{role: 'listbox'}
              - 120.times do |number|
                .item.slideshow-item{data: { image_number: number } }
                  %img(src="/pictures/impressions_2017_#{number}.jpg" alt='bild')

            %a.left.carousel-control{ href:'#imageCarousel', role: 'button', data: {slide: 'prev' } }
              %span.glyphicon.glyphicon-chevron-left{aria_hidden: 'true'}
              %span.sr-only Previous

            %a.right.carousel-control{ href:'#imageCarousel', role: 'button', data: { slide: 'next' } }
              %span.glyphicon.glyphicon-chevron-right{aria_hidden: 'true'}
              %span.sr-only Next

  .image-container
    - 120.times do |number|
      .image-frame{ data: { image_number: number } }
        %img(src="/pictures/impressions_2017_#{number}_preview.jpg" alt="bild")
