---
title: NÄHkomPLOTT
section: Home
---
.title
  = image_tag '/images/index_banner.png', class: 'img-responsive title-image'
.content.first-line
  %p Nun ist es tatsächlich soweit: zum zweiten Mal steht der grösste Näh- und Plott-Event der Schweiz vor der Tür! Was letztes Jahr als Pilotprojekt gestartet wurde, geht nun in die zweite Runde! Am 25. März 2017 treffen wir uns wieder in Zürich um gemeinsam eine unvergessliche Zeit zu verbringen! Wir freuen uns unglaublich auf Euch!
  %p Fabienne von faybee.ch und Stefanie von littlefeet.ch
  .row.row-logo
    .col-md-6
      %p
        %a{href: 'http://faybee.ch', target: 'blank'}
          = image_tag '/images/faybee_transparent.png', class: 'img-responsive', height: '200', width: '200'
    .col-md-6
      %p.logo_littlefeet
        %a{href: 'http://littlefeet.ch', target: 'blank'}
          = image_tag '/images/logo_littlefeet.png', class: 'img-responsive block pull-right', height: '200', width: '300'
  .row.row-logo
    .col-md-12
      %p
        Hauptsponsor:
        = image_tag '/images/bernina_transparent.png', class: 'img-responsive center-block'

