---
title: NÄHkomPLOTT
section: NÄHkomPLOTT
---

.title
  = image_tag '/images/komplott_banner.png', class: 'img-responsive title-image'
.content.first-line
  %p
    Grundidee des Events ist es, Nähbegeisterte aus der ganzen Schweiz zusammen zu führen. Angesprochen werden vor Allem Hobbynäherinnen aus der Schweiz. Speziell junge Näherinnen sind via Facebook stark vernetzt. Ziel ist es, Diese auch physisch zu vernetzen und so den kreativen Austausch zu fördern.
  %p
    Unter dem Namen „d’Schwiiz näht“ wurde der Event im Februar 2015 bereits einmal mit 300 Personen durchgeführt und war komplett ausverkauft. Aus diesem Grund wurden weitere Räumlichkeiten dazu gemietet, um nun 500 Gäste empfangen zu können.
  %p
    Wir möchten aufzeigen, dass die Schweizer Nähszene sehr viel zu bieten hat und den Teilnehmerinnen einen inspirierenden und erlebnisreichen Tag bescheren. Folgende Programmpunkte werden angeboten:
    %ul
      %li Stoffmarkt
      %li Begleitetes Nähen an einer Stickmaschine
      %li Freies Nähen
      %li Workshops
      %li Goodie-Bag: Jede Teilnehmerin wird einen Goodiebag mit Werbegeschenken erhalten.
      %li Fotobooth: Den Teilnehmerinnen steht kostenlos ein Fotoautomat zur Verfügung, anhand dessen sie sich fotografieren und die Bilder mit dem Hashtag #naehkomplott via Facebook und instagram verlinken können.
      %li Plottercorner: Jede Besucherin erhält einen Gutschein für ein individuelles Plotterbild.
      %li Kreativ-Wettbewerb: An einem Tisch werden Materialien zur Verfügung gestellt, mit denen die Besucherinnen eine Kreativ-Aufgabe lösen und an einem Wettbewerb teilnehmen. Als Hauptpreis winkt eine BERNINA Nähmaschine.
      %li Bücher-Lounge: Wer sich vom Trubel etwas zurückziehen möchte, kann in interessanten Büchern zu nähbezogenen Themen schmökern und Inspirationen sammeln.

