---
title: NÄHkomPLOTT
section: Kontakt
---
.title
  = image_tag '/images/contact_banner.png', class: 'img-responsive title-image'
.content.first-line
  %p Die Seite nähkomplott.ch ist ein Gemeinschaftsprojekt der Firmen   Faybee und Littlefeet.
  %p Das Impressum der jeweiligen Firma ist auf deren Webauftritt zu finden:
  %p
    Faybee, Inhaberin Fabienne Müller:
    %a{href: 'http://www.faybee.ch/pages/agb'} http://www.faybee.ch/pages/agb
  %p
    Littlefeet:
    %a{href:'www.littlefeet.ch'} www.littlefeet.ch
  %p
    Fragen beantworten wir gerne:
    %a{href: 'mailto:info@nähkomplott.ch'} info@nähkomplott.ch
