---
title: NÄHkomPLOTT
section: Magazin
---
.title
  = image_tag '/images/programm_banner.png', class: 'img-responsive title-image'
.content.first-line
  %p
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore dolorum unde dolor architecto nihil, voluptates totam quod molestias. Rerum, amet quidem ducimus cumque minus eveniet fuga inventore nam magni illum.
  %p
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ut blanditiis, veritatis iusto quas quasi minus facilis incidunt ratione, a et consectetur aliquid distinctio iste beatae, laudantium harum? Sequi, et!
