---
title: NÄHkomPLOTT
section: Programm
---
.title
  = image_tag '/images/programm_banner.png', class: 'img-responsive title-image'
.content.first-line
  %p
    Türöffnung um 10.00 Uhr. Ab dann ist der Marktbetrieb und Bistro/Bar für Euch geöffnet. TeilnehmerInnen, welche Workshops mit Kursstart um 10.00 besuchen, erhalten ab 9.45 Uhr Zutritt. Bitte hierfür Vermerk auf dem Ticket beachten.
  %p
    Änderungen vorbehalten. Bitte beachtet die Kurszeiten auf Eurem Ticket und die Wandbehänge am Veranstaltungstag.
  %iframe{src: 'https://docs.google.com/spreadsheets/d/1EsubEjUuVNnQtFwH1UKWHQSSRfb5jM3hWT-r-LnMfdk/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false'}
