---
title: NÄHkomPLOTT
section: Sponsoren
---
.title
  = image_tag '/images/sponsor_banner.png', class: 'img-responsive title-image'
.content.first-line
  .main-sponsor
    %h4 Hauptsponsor
    = image_tag '/images/bernina_transparent.png', class: 'img-responsive center-block'
  .sponsor
    %h4 Sponsoren
  .sponsor
    = image_tag '/images/silhouette.png', class: 'img-responsive center-block'
  .sponsor
    = image_tag '/images/kulturprozent.gif', class: 'img-responsive center-block'
  .sponsor
    = image_tag '/images/guetermann.jpg', class: 'img-responsive center-block'
  .sponsor
    = image_tag '/images/sirocco.jpg', class: 'img-responsive center-block'
    .sponsor
    = image_tag '/images/haupt.jpg', class: 'img-responsive center-block'
  .sponsor
    = image_tag '/images/kneipp.jpg', class: 'img-responsive center-block'
  .sponsor
    = image_tag '/images/vogel.jpg', class: 'img-responsive center-block'
  .sponsor
    = image_tag '/images/logo_mohl.png', class: 'img-responsive center-block'
  .sponsor
    = image_tag '/images/logo_leibacher.jpg', class: 'img-responsive center-block'
  .sponsor
    = image_tag '/images/logo_wernli.png', class: 'img-responsive center-block'
  %p
    %small
      Möchten Sie hier ihr Logo sehen? Wir freuen uns auf Ihre Kontaktaufnahme:
      %a{href: 'mailto:info@nähkomplott.ch?Subject=Sponsoring', target: '_top'} info@nähkomplott.ch&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
