---
title: NÄHkomPLOTT
section: Aussteller
---
.title
  = image_tag '/images/merchands_banner.png', class: 'img-responsive title-image'
.content.first-line

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.gufechnopf.ch', target: '_blank'}
        = image_tag '/images/logo_gufechnopf.png', class: 'img-responsive'
    .vendor-description
      %p Elastische Bänder, Klöppelspitzen und Paspeln soweit das Auge reicht. Zudem Grössenetiketten, Zipper und Ballonhüllen-Schablonen

  .vendor-row
    .vendor-logo
      %a{href: 'http://das-atelier.blogspot.com', target: '_blank'}
        = image_tag '/images/logo_atelier.jpg', class: 'img-responsive'
    .vendor-description
      %p Stoffe, Webbänder, Schnittmuster und vieles mehr.

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.faybee.ch', target: '_blank'}
        = image_tag '/images/faybee_transparent.png', class: 'img-responsive'
    .vendor-description
      %p Die ganze Kollektion der Stoffonkel Biostoffe

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.karlottapink.ch', target: '_blank'}
        = image_tag '/images/logo_karlotta.jpg', class: 'img-responsive'
    .vendor-description
      %p Stoffe aus aller Welt und SO!Schnittmuster. Bei uns dreht sich alles um DIY-Mode, die das Besondere & Eigenständige in Dir weckt

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.kuntundbunt.ch', target: '_blank'}
        = image_tag '/images/logo_kuntundbunt.png', class: 'img-responsive'
    .vendor-description
      %p Stoffe aus aller Welt - Baumwolle - Jersey - Sweat - Wachstücher - Taschenstoffe - Dekostoffe  und ein riesiges Sortiment an Nähzubehör

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.littlefeet.ch', target: '_blank'}
        = image_tag '/images/logo_littlefeet_white.jpg', class: 'img-responsive'
    .vendor-description
      %p Riesen Sortiment an verschiedenen Plotterfolien sowie Plotter und Zubehör von Silhouette

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.thequiltplace.ch', target: '_blank'}
        = image_tag '/images/logo_quiltplace.png', class: 'img-responsive'
    .vendor-description
      %p Patchwork und Quilting - Stoffe, Kurse und Quilt-Kaffee

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.sachen-zum-machen.ch', target: '_blank'}
        = image_tag '/images/logo_sachen_zum_machen.png', class: 'img-responsive'
    .vendor-description
      %p Etiketten, Labels, Produktschilder oder Näh- und Bastelmaterial - bei "sachen zum machen" findest du alles, was dein Herz als Klein-Label Betreiber begehrt.

  .vendor-row
    .vendor-logo
      %a{href: 'http://zwergenstoffe.ch', target: '_blank'}
        = image_tag '/images/logo_zwergenstoffe.png', class: 'img-responsive'
    .vendor-description
      %p Kunterbunte Stoffe für zuckersüsse Zwerge

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.musterkitz.com', target: '_blank'}
        = image_tag '/images/logo_musterkitz.jpg', class: 'img-responsive'
    .vendor-description
      %p Nähsets und Schnittmuster für Kinder - einfach & schön

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.socialfabric.ch', target: '_blank'}
        = image_tag '/images/logo_socialfabric.png', class: 'img-responsive'
    .vendor-description
      %p Kurse, Material und Gegenstände aus nachhaltiger Produktion

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.anninanni.de', target: '_blank'}
        = image_tag '/images/logo_anninanni.jpg', class: 'img-responsive'
    .vendor-description
      %p Schnittmuster & Ebooks

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.sewerafashion.com', target: '_blank'}
        = image_tag '/images/logo_sewera.png', class: 'img-responsive'
    .vendor-description
      %p Schnittmuster & Ebooks

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.nipnaps.ch', target: '_blank'}
        = image_tag '/images/logo_nipnaps.jpg', class: 'img-responsive'
    .vendor-description
      %p Schnittmuster & Ebooks

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.muckelie.ch', target: '_blank'}
        = image_tag '/images/logo_muckelie.jpg', class: 'img-responsive'
    .vendor-description
      %p Schnittmuster & Ebooks

  .vendor-row
    .vendor-logo
      %a{href: 'http://www.kookoon.ch', target: '_blank'}
        = image_tag '/images/logo_kookoon.gif', class: 'img-responsive'
    .vendor-description
      %p kookoon, alles für deinen BH. BH-Nähkurse im kleinen Rahmen, BH-Material und BH-Nähpakete
