---
title: NÄHkomPLOTT
section: Gut Zu Wissen
---
.title
  = image_tag '/images/know_logo.png', class: 'img-responsive title-image'
.content.first-line
  %p Auf dieser Seite versuchen wir, Dir Wissenswertes rund um unseren Event weiterzugeben. Falls Deine Frage hier nicht beantwortet wurde, darfst Du Dich gerne via e-mail an uns wenden. Wir beantworten Deine Fragen gerne.

  %h3 Location
  %p Der Event findet in den Räumlichkeiten von Bananenreiferei/Tanzwerk101 an der Pfingstweidstrasse 101 in Zürich statt. So findest Du uns:
  %h4 Mit dem Auto
  %p Mit dem Auto  auf der Pfingstweidstrasse fahren (ab Hardbrücke oder Autobahn Bern, Basel...). Am Westende des Migros-Gebäudes (bei der alten Auffahrtsspindel) abbiegen und die neue Auffahrt auf's Parkdeck der Migros fahren - 600 Parkplätze. (Kostenpflichtig)
  %p
    -#= image_tag 'https://maps.googleapis.com/maps/api/staticmap?center=Pfingstweidstrasse+101,Zurich,ZH&zoom=15&size=700x400&maptype=roadmap&markers=color:red%7C47.3904297,8.507479&key=AIzaSyC1qOVXiWxB_W-UXTVkh5yOPXxTznaW73I'
    %iframe{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9982.226565074876!2d8.502403547246143!3d47.38839385133972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900a49c9d68cf5%3A0x1e5988e8ce0b9769!2sPfingstweidstrasse+101%2C+8005+Z%C3%BCrich!5e0!3m2!1sen!2sch!4v1481922471484&key=AIzaSyC1qOVXiWxB_W-UXTVkh5yOPXxTznaW73I", width: "700", height: "450", frameborder: "0", style: "border:0", allowfullscreen: 'true'}
  %h4 Mit dem ÖV
  %p Ab Bahnhof Hardbrücke: Mit dem Tram 4 Richtung Bahnhof Altstetten Nord -  2 Stationen bis Tramhaltestelle „Toni Areal“
  %p Ab Zürich HB: Mit dem Tram 4 ab Sihlquai in Richtung Bahnhof Altstetten Nord bis Tramhaltestelle „Toni Areal“
  %h4 Zu Fuss
  %p ca. 5-8 Minuten ab Bahnhof Hardbrücke

  %h3 Übernachtungsmöglichkeiten
  %p Für unsere Gäste, die eine weitere Anreise haben, gibt es in unmittelbarer Nähe der Bananenreiferei diverse Übernachtungsmöglichkeiten:
  %ul
    %li
      %a{href:'https://de.hotels.com/hotel/details.html?WOE=6&q-localised-check-out=26.09.2015&WOD=5&q-room-0-children=0&pa=5&tab=description&q-localised-check-in=25.09.2015&hotel-id=175805&q-room-0-adults=2&YGF=2&MGT=1&ZSX=0&SYE=3'} IBIS Zürich West
    %li
      %a{href:'https://de.hotels.com/hotel/details.html?WOE=6&q-localised-check-out=26.09.2015&WOD=5&q-room-0-children=0&pa=2&tab=description&q-localised-check-in=25.09.2015&hotel-id=435690&q-room-0-adults=2&YGF=2&MGT=1&ZSX=0&SYE=3'} Sheraton
    %li
      %a{href:'https://de.hotels.com/hotel/details.html?WOE=6&q-localised-check-out=26.09.2015&WOD=5&q-room-0-children=0&pa=1&tab=description&q-localised-check-in=25.09.2015&hotel-id=411389&q-room-0-adults=2&YGF=2&MGT=1&ZSX=0&SYE=3'} 25 Hours Hotel Zürich West

  %h3 Babysitting
  %p
    Wir möchten, dass ihr an diesem Tag auf Eure Kosten kommt und ihn in vollen Zügen geniessen könnt. Wir selbst haben und lieben Kinder. Dieser Anlass ist jedoch nicht auf die Bedürfnisse von Kindern ausgerichtet. Für alle Diejenigen, die keinen Babysitter auftreiben können, haben wir auch dieses Jahr wieder einen Spezialpreis mit dem Gloggespiel Zürich für Euch ausgehandelt. Bitte meldet Euch bis spätestens 3.3.2017 gleich direkt via e-mail bei
    %a{href:'mailto:gloggespiel@cevizuerich.ch'} gloggespiel@cevizuerich.ch
    an.

  %h3 Verpflegungsmöglichkeiten
  %p Wenn sich zwischendurch der Hunger meldet, gibt es verschiedene Möglichkeiten, diesen zu stillen:
  %p Im Saal der Bananenreiferei werden Sandwiches, Suppen und Salate zu fairen Preisen angeboten. Im Tanzwerk101 wird das Bistro dazu einladen, bei einem Schwatz mit Kaffee und Kuchen über die Näh-Leidenschaft zu plaudern.
  %p Im EG des Gebäudes befindet sich ein Migros Selbstbedienungs-Restaurant und ein Migros Supermarkt (diese sind jedoch nur bis Mittags geöffnet).

  %h3 Im Verhinderungsfall
  %p
    Die Tickets werden von uns im Verhinderungsfall nicht zurückgenommen. Es ist jedoch erlaubt, gebuchte Tageskarten und Workshop-Plätze in einem solchen Fall weiter zu verkaufen. Eine gute Plattform für Ticketverkäufe und Tausch bietet die NÄHkomPLOTT Gruppe auf Facebook. Wir bitten bei Workshop-Plätzen um eine kurze Benachrichtigung, damit wir den Kursleitern eine aktuelle Teilnehmerliste zur Verfügung stellen können. Eine kurze e-mail an
    %a{href:'mailto:info@naehkomplott.ch'}info@naehkomplott.ch
    reicht in einem solchen Fall.
