---
title: NÄHkomPLOTT
section: Workshops
---
.title
  = image_tag '/images/workshop_banner.png', class: 'img-responsive title-image'
.content.first-line
  %p
    Wir werden unterschiedliche Kurse zu nähbezogenen Themen durchführen. Diese können im Vorfeld gebucht werden. Diese Kurse sind:
  .panel-group#accordion{'role' => 'tablist', 'aria-multiselectable' => 'true'}
    .panel.panel-default
      .panel-heading.my-panel-title#headingOne{role: 'tab'}
        %h4.panel-title
          %a{'role' => 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href' => '#collapseOne',
            'aria-expanded' => 'true', 'aria-controls' => 'collapseOne' }
            Siebdruck
      .panel-collapse.collapse.in#collapseOne{'role' => 'tabpanel', 'aria-labelledby' => 'headingOne'}
        .panel-body
          %p
            Träumst Du von einem Stoff mit Deinem eigenen, ganz persönlichen Design? Dann bist Du bei diesem Workshop genau richtig!
            Der Siebdruck ist eine Drucktechnik mit grosser Gestaltungsfreiheit bei Materialien, Formen, Formaten und Farben.
            Im Workshop stehen Schablonen mit diversen Mustern zum Experimentieren, Überdrucken und freien Kombinieren
            mit verschiedenen Farben zur Verfügung. Es entstehen individuell gestaltete Muster und Rapporte auf Stoffen
            wie Tischdecken, Shirts oder Kissenbezügen.
          %p
            Stoffe mit einem Anteil von Baumwolle sollten mitgebracht werden.
          %p
            Falls Du eine Schablone mit Deinem persönlichen Wunschdesign möchtest, stellen die Kursleiterinnen für CHF 50.-
            eine solche Schablone gerne im Vorfeld für Dich her. Die Schablone muss nach Kursende zurückgegeben werden.
          %p
            %em
              Kursleitung:
            Esther Schena, Silvia Bär
    .panel.panel-default
      .panel-heading.my-panel-title#headingTwo{role: 'tab'}
        %h4.panel-title
          %a.collabsed{'role' => 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href' => '#collapseTwo',
            'aria-expanded' => 'true', 'aria-controls' => 'collapseTwo' }
            Nähkurs für Anfänger
      .panel-collapse.collapse#collapseTwo{'role' => 'tabpanel', 'aria-labelledby' => 'headingTwo'}
        .panel-body
          %p Selber nähen macht Spass. In diesem Workshop lernst du die Näh-Basics kennen. Anhand eines einfachen Schnittmusters werden wir einen Kinder Pulli herstellen. Das Schnittmuster stellt uns das Label Nip Naps zur Verfügung. Den Schnitt Pull*ee gibts in den Grössen 62 bis 176. Im Kursgeld inbegriffen sind Stoff, Faden & Schnittmuster.
          %p Kursgeld für das ganze Paket: 70.-
          %p
            %em
              Kursleitung:
            Martina Tresch ist gelernte Damenschneiderin mit Zusatzstudium als Mode Designerin an der Textilfachschule in Zürich. Seit einigen Jahren gebe ich Nähkurse in der Textilwerkstatt im Dynamo in Zürich. Als Lehrperson für textiles Gestalten bin ich an der Migros Klubschule tätig. Mit meiner Familie wohne ich in Uster.
    .panel.panel-default
      .panel-heading.my-panel-title#headingThree{role: 'tab'}
        %h4.panel-title
          %a.collabsed{'role' => 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href' => '#collapseThree',
            'aria-expanded' => 'true', 'aria-controls' => 'collapseThree' }
            Fotografie für Anfänger
      .panel-collapse.collapse#collapseThree{'role' => 'tabpanel', 'aria-labelledby' => 'headingThree'}
        .panel-body
          %p
            Ihr werdet lernen, wie ihr mit eurer Kamera, eure Nähwerke ins richtige Licht rücken könnt. Damit ihr möglichst viel selber machen könnt, werden wir nach einem  allgemeinen Teil zur Handhabung und den Grundeinstellungen, das gelernte an ein paar Beispielen durchgehen.  Dabei werde ich euch zeigen, wie ihr mit ganz  einfachen Mitteln, zu guten Resultaten kommen könnt. Vorwissen braucht es keines, jedoch solltet ihr eine eigene Kamera und einen Laptop zur Verfügung haben.
          %p
            %em
              Kursleitung:
            Nach 15 Jahren als Lehrer an der Oberstufe war es für mich 2014 an der Zeit, mich neu zu orientieren. Da ich von der Fotografie mehr und mehr fasziniert war, wagte ich den Schritt in die Selbstständigkeit. Die Grundlagen für die Fotografie habe ich mir selber beigebracht. Meine sportliche Vergangenheit und die dort verwendeten Bilder kommen mir auch heute noch zugute. Aus jeder Person, jedem Moment aber auch jedem Gegenstand den ich fotografiere, das Beste rauszuholen, ist einer der Ansprüche die ich an mich habe. Die Möglichkeiten ein Bild zu erstellen sind fast unbegrenzt und das Kreative an meiner Arbeit ist etwas Geniales. Davon möchte ich euch in meinen Workshops einen Teil weitergeben und freue mich darauf, euch als Teilnehmer/in in einem meiner Kurse begrüssen zu dürfen.
    .panel.panel-default
      .panel-heading.my-panel-title#headingFour{role: 'tab'}
        %h4.panel-title
          %a.collabsed{'role' => 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href' => '#collapseFour',
            'aria-expanded' => 'true', 'aria-controls' => 'collapseFour' }
            Fotografie für Fortgeschrittene
      .panel-collapse.collapse#collapseFour{'role' => 'tabpanel', 'aria-labelledby' => 'headingFour'}
        .panel-body
          %p
            Der Kurs soll euch helfen, euch zu Hause ein eigenes Studio einrichten zu können. Mit Hilfe eines  überschaubaren Budgets ist ein solches möglich und kann euch die Herstellung eurer Bilder deutlich vereinfachen. Falls ihr also noch mehr wissen wollt, als die Grundlagen aus dem Basic-Kurs oder ihr habt bereits Erfahrung im Fotografieren und könnt eine Kamera manuell bedienen, dann seid ihr hier richtig. Von der Aufnahme mit dem richtigen Licht, über einfache Nachbearbeitung, bis hin zum Freistellen, werden wir hier so ziemlich alle Themen erklären, damit eure Bilder so professionell wie möglich aussehen.
          %p
            %em
              Kursleitung:
            Nach 15 Jahren als Lehrer an der Oberstufe war es für mich 2014 an der Zeit, mich neu zu orientieren. Da ich von der Fotografie mehr und mehr fasziniert war, wagte ich den Schritt in die Selbstständigkeit. Die Grundlagen für die Fotografie habe ich mir selber beigebracht. Meine sportliche Vergangenheit und die dort verwendeten Bilder kommen mir auch heute noch zugute. Aus jeder Person, jedem Moment aber auch jedem Gegenstand den ich fotografiere, das Beste rauszuholen, ist einer der Ansprüche die ich an mich habe. Die Möglichkeiten ein Bild zu erstellen sind fast unbegrenzt und das Kreative an meiner Arbeit ist etwas Geniales. Davon möchte ich euch in meinen Workshops einen Teil weitergeben und freue mich darauf, euch als Teilnehmer/in in einem meiner Kurse begrüssen zu dürfen.
    .panel.panel-default
      .panel-heading.my-panel-title#headingFive{role: 'tab'}
        %h4.panel-title
          %a.collabsed{'role' => 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href' => '#collapseFive',
            'aria-expanded' => 'true', 'aria-controls' => 'collapseFive' }
            Preise kalkulieren - jetzt erst recht
      .panel-collapse.collapse#collapseFive{'role' => 'tabpanel', 'aria-labelledby' => 'headingFive'}
        .panel-body
          %p
            Dieser Workshop richtet sich kreative Menschen, die Ihre Produkte verkaufen oder in Erwägung ziehen, diese zu verkaufen.
          %p
            Selbermachen ist „en vogue“. Verkaufen eine tolle Bestätigung. Nur. Wieviel kostet mich ein selbstgefertigter Artikel wirklich? Was muss ich berechnen, damit ich langfristig Gewinn mache und aus dem Spass nicht bald Frust wird. Was erwartet das Gesetz von mir? Wie verkaufe ich erfolgreich? Wie sieht ein Marketingmix aus?
          %p
            Zu vielen Fragen liefert dieser Workshop viele Antworten.
          %p
            Lässig, wenn du dich entscheidest das oft heikle Thema anzupacken. Das du mithilfst, das die Preise nicht gedrückt werden und Handwerk geschätzt wird.
          %p
            %em
              Kursleitung:
            Franziska Kälin von Liebdings
            %a{href: 'http://www.liebdings.com'} www.liebdings.com
    .panel.panel-default
      .panel-heading.my-panel-title#headingSix{role: 'tab'}
        %h4.panel-title
          %a.collabsed{'role' => 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href' => '#collapseSix',
            'aria-expanded' => 'true', 'aria-controls' => 'collapseSix' }
            Design yourself - Schnittmuster gekonnt ändern
      .panel-collapse.collapse#collapseSix{'role' => 'tabpanel', 'aria-labelledby' => 'headingSix'}
        .panel-body
          %p
            Schnittmuster ändern und eigene Modelle entwickeln
          %p
            Man hat eine Vorstellung , was man nähen möchte, doch findet man kein entsprechendes Schnittmuster dazu. In diesem Kurs lernt ihr, wie Schnittmuster funktionieren und wie ihr ein vorhandenes erfolgreich ändern können.
          %p
            Wir besprechen:
            %ul
              %li
                wie man Ausschnitte verändert und mit Kapuze oder Knopfleiste ergänzt
              %li
                wie man Ärmel an ärmellose Modelle konstruiert
              %li
                was man mit Abnähern alles anstellen kann
          %p
            Wir üben im kleinen Maßstab an Beispielsschnitten, wie die verschiedenen Änderungen entwickelt werden.
          %p
            %em
              Achtung: In diesem Kurs wird nicht genäht!
          %p
            %em
              Kursleitung:
            Stefanie Kroth macht Mode und Grafik. Mit SO! entwirft sie einfache, raffinierte und eigensinnige Schnittmuster für Nähfreaks und Fashion-Victims. In Nähkursen gibt sie die Lust am Selbermachen und Ausprobieren weiter, vermittelt das nötige Handwerkszeug und unterstützt kreative Ideen. Ausgebildet wurde sie an der Modefachschule Sigmaringen, in Augsburg studierte sie Medien & Kommunikation. Sie arbeitet als Dozentin und freie Designerin.
    .panel.panel-default
      .panel-heading.my-panel-title#headingSeven{role: 'tab'}
        %h4.panel-title
          %a.collabsed{'role' => 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href' => '#collapseSeven',
            'aria-expanded' => 'true', 'aria-controls' => 'collapseSeven' }
            Schnittmuster passend machen
      .panel-collapse.collapse#collapseSeven{'role' => 'tabpanel', 'aria-labelledby' => 'headingSeven'}
        .panel-body
          %p Kleidung nach Maß – Schnittmuster anpassen
          %p Oft passen die gekauften Schnitte nicht so richtig und die ganze mühsame Näherei war umsonst. In diesem Kurs lernt ihr, wie ihr Fertigschnitte auf eure Maße anpassen könnt und so keine bösen Überraschungen mehr erlebt.
          %p
            Ihr lernt:
            %ul
              %li wie man Konfektionsgrößen „mischt“
              %li wie man den Schnitt auf die eigene Körperhöhe anpasst
              %li wie man Ärmel ändert (Oberarmweite)
              %li was Abnäher bedeuten und wie man ein FBA macht
          %p Wir üben im kleinen Maßstab an Beispielsschnitten, wie die verschiedenen Änderungen vorgenommen werden. Anschließend messen wir uns gegenseitig aus, vergleichen die Maße mit der Maßtabelle des Schnittsystems und besprechen, was jeweils geändert werden würde. Anschließend kann jede/r für sich einen großen Schnitt anpassen.
          %p
            %em Achtung: In diesem Kurs wird nicht genäht!
          %p
            %em
              Kursleitung:
            Stefanie Kroth macht Mode und Grafik. Mit SO! entwirft sie einfache, raffinierte und eigensinnige Schnittmuster für Nähfreaks und Fashion-Victims. In Nähkursen gibt sie die Lust am Selbermachen und Ausprobieren weiter, vermittelt das nötige Handwerkszeug und unterstützt kreative Ideen. Ausgebildet wurde sie an der Modefachschule Sigmaringen, in Augsburg studierte sie Medien & Kommunikation. Sie arbeitet als Dozentin und freie Designerin.
    .panel.panel-default
      .panel-heading.my-panel-title#headingEight{role: 'tab'}
        %h4.panel-title
          %a.collabsed{'role' => 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href' => '#collapseEight',
            'aria-expanded' => 'true', 'aria-controls' => 'collapseEight' }
            Plotten für Anfänger
      .panel-collapse.collapse#collapseEight{'role' => 'tabpanel', 'aria-labelledby' => 'headingEight'}
        .panel-body
          %p Der Workshop richtet sich an Plotter-Anfänger, die mit einem Silhouette-Gerät arbeiten. Anhand von Beispielen lernen wir die Studio-Software und viele ihrer Funktionen kennen, die später selber an individuellen Projekten umgesetzt und angewendet werden können. Auch lernen wir die unterschiedlichen Folien und ihre Anwendung kennen.
          %p
            Praktische Beispiele am Plotter
            %em selber
            können in diesem Kurs nicht umgesetzt werden.
          %p
            %em
              Mitbringen:
            Laptop mit installierter Software
          %p
            %em
              Material:
            Kursunterlagen sind im Preis inbegriffen
          %p
            %em
              Kursdauer:
            ca. 2h
    .panel.panel-default
      .panel-heading.my-panel-title#headingNine{role: 'tab'}
        %h4.panel-title
          %a.collabsed{'role' => 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href' => '#collapseNine',
            'aria-expanded' => 'true', 'aria-controls' => 'collapseNine' }
            Praxisworkshop: Holzschild mit PVPP
      .panel-collapse.collapse#collapseNine{'role' => 'tabpanel', 'aria-labelledby' => 'headingNine'}
        .panel-body
          %p Wir erstellen mit der PVPP-Technik ein Holzschild im angesagten Shabby-Look.
          %p
            %em
              Mitbringen:
            Laptop mit installierter Software, Plotter (inkl. Messer und Schneidematte). Wer noch keinen Plotter hat und trotzdem teilnehmen möchte, bitte vorgängig per Mail melden.
            %p
              Bitte überleg dir bereits grob, was du auf deinem Schild gestalten möchtest.
    .panel.panel-default
      .panel-heading.my-panel-title#headingTen{role: 'tab'}
        %h4.panel-title
          %a.collabsed{'role' => 'button', 'data-toggle' => 'collapse', 'data-parent' => '#accordion', 'href' => '#collapseTen',
            'aria-expanded' => 'true', 'aria-controls' => 'collapseTen' }
            Drucken auf Stoff mit Früchten und Gemüse
      .panel-collapse.collapse#collapseTen{'role' => 'tabpanel', 'aria-labelledby' => 'headingTen'}
        .panel-body
          %p
            Nimm an diesem kreativen und lustigen Workshop teil und lerne dabei nicht nur die Basics des Textilprints sondern experimentiere auch mit den faszinierenden Motiven, die uns die Natur gibt.
          %p
            %em
              Bring ein oder zwei Gemüse oder Früchte sowie ein Baumwollshirt, Tasche oder ein anderes helles Textil mit,
            das du gerne mit spannenden Prints verzieren möchtest. Farben und weiteres Equipment werden zur Verfügung gestellt.
          %p
            %em
              Kursleitung:
            Der Kurs wird geleitet von Helka Mäki, einer Textilwerklehrerin aus Finland. Der Workshop wird in Englisch geleitet, Helka spricht aber auch Deutsch!
          %p
            Social Fabric ist ein nachhaltig operierendes Textilzentrum in Zürich. Verfolgt werden zwei Visionen: Die Unterstützung und Förderung des Gebrauchs von Textilien, die einen nur geringen ökologischen und sozialen Fussabdruck haben, sowie die Unterstützung und Förderung von Flüchtlingen in der Schweiz.
